<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<strong>Messages:</strong>


<div id="chatbox" class="card mb-0 mt-5 ml-5 mr-5">
  <p>
    <br/>
    <br/>
    <div id="msg">
      <% @room.messages.each do |message| %>
        <%# <p><%= "#{message.user.email} says:" %></p>
        <div class="p-3"><%= message.body %></div>
      <% end %>
    </div>
    <br/>
    <br/>
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  </div>
</div>

<div id="new-message-box" class="card mb-5 mt-0 ml-5 mr-5">
  <%= form_for @message, remote: true do |f| %>
    <div class="row m-0">
      <%= f.text_area :body, {class: 'form-control col-11'} %>
      <%= f.hidden_field :username, value: @username %>
      <%= f.submit 'Send', {class: 'col-1'}%>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
