<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<strong>Messages:</strong>


<div id="chatbox" class="card m-5">
  <p>
    <br/>
    <br/>
    <div id="msg">
      <% @room.messages.each do |message| %>
        <%# <p><%= "#{message.user.email} says:" %></p>
        <div class="p-3"><%= message.body %></div>
      <% end %>
    </div>
    <br/>
    <br/>
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  </div>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
